<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Име</th>
            <th scope="col">Лајкови</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="genre : ${genres}" class="elements">
            <td th:text="${genre.getName()}"></td>
            <td th:text="${genre.getLikes()}"></td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
