<main xmlns:th="http://www.thymeleaf.org">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form th:action="@{'/movies/save/{movieId}' (movieId = ${movie?.getMovieId()})}" method="POST">
                    <div class="form-group">
                        <label for="title">Наслов</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="${movie?.getTitle()}"
                               required
                               placeholder="Наслов">
                    </div>
                    <div class="form-group">
                        <label for="description">Опис</label>
                        <input type="text"
                               multiple
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="${movie?.getDescription()}"
                               placeholder="Опис">
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Слика</label>
                        <input type="text"
                               class="form-control"
                               id="imageUrl"
                               name="imageUrl"
                               th:value="${movie?.getImageUrl()}"
                               placeholder="Слика">
                    </div>
                    <div class="form-group">
                        <label for="airingDate">Датум на издавање</label>
                        <input type="date"
                               class="form-control"
                               id="airingDate"
                               name="airingDate"
                               th:value="${movie?.getAiringDate()}"
                               placeholder="Датум на издавање">
                    </div>
                    <div class="form-group">
                        <label for="rating">Рејтинг</label>
                        <input type="number"
                               class="form-control"
                               id="rating"
                               name="rating"
                               max="10"
                               min="0"
                               th:value="${movie?.getImdbRating()}"
                               placeholder="Рејтинг">
                    </div>
                    <div class="form-group">
                        <select name="directorId">
                            <option></option>
                            <option th:each="dir:${directors}" th:value="${dir.getPersonId()}" th:text="${dir.getName() + ' ' + dir.getSurname()}"
                            th:selected="${director?.equals(dir)}"></option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select name="actors" multiple>
                            <option></option>
                            <option th:each="act:${actors}" th:value="${act.getPersonId()}"
                                    th:text="${act.getName() + ' ' + act.getSurname()}"
                                    th:selected="${movieActors?.contains(act)}"></option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select name="genres" multiple>
                            <option></option>
                            <option th:each="genr:${genres}" th:value="${genr.getGenreId()}"
                                    th:text="${genr.getGenreType()}"
                                    th:selected="${movieGenres?.contains(genr)}"></option>

                        </select>
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/products">Back</a>
                </form>
            </div>
        </div>
    </div>


</main>