<script type="text/javascript" th:src="@{/js/graphqlPersonAdding.js}"></script>

<div class="form-group granka" th:granka="${id != null ? id : null}" th:type="${type != null ? type : null}">
    <label for="name">Име</label>
    <input type="text"
           class="form-control"
           id="name"
           name="title"
           required
           placeholder="Наслов">
    <h3 style="color: red" id="name-val">Име е задолжително поле</h3>
</div>
<div class="form-group">
    <label for="surname">Презиме</label>
    <input type="text"
           class="form-control"
           id="surname"
           name="title"
           required
           placeholder="Наслов">
    <h3 style="color: red" id="surname-val">Презиме е задолжително поле</h3>
</div>
<div>
    <input type="radio"
           class="form-control person-movies"
           name="type"
           th:value="A"
           th:text="Актер"

    >
    <input type="radio"
           class="form-control person-movies"
           name="type"
           th:value="D"
           th:text="Режисер">
</div>
<h3 style="color: red" id="type-val">Тип е задолжително поле</h3>

<div class="form-group">
    <label for="description">Опис</label>
    <input type="text"
           multiple
           class="form-control"
           id="description"
           name="description"
           required
           placeholder="Опис">
    <h3 style="color: red" id="description-val">Опис е задолжително поле</h3>

</div>
<div class="form-group">
    <label for="image">Слика</label>
    <input type="text"
           class="form-control"
           id="image"
           name="imageUrl"
           required
           placeholder="Слика">
    <h3 style="color: red" id="img-val">Слика е задолжително поле</h3>
</div>
<div class="form-group">
    <label for="date">Датум на раѓање</label>
    <input type="date"
           class="form-control"
           id="date"
           name="airingDate"
           required
           placeholder="Датум на издавање">
    <h3 style="color: red" id="date-val">Датум на раѓање е задолжително поле</h3>

</div>

<div class="form-group">
    <select name="movies" id="movies" multiple>
        <option></option>
    </select>
</div>

</div>
<button id="test-submit" type="submit" class="btn btn-primary btn-test-add-person">Додади</button>