<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div style="margin:auto; width: 60%">
        <div style="width: 30%; margin: auto; height: 100%; margin-bottom: 10px">
            <a class="btn btn-outline-dark" style="height: 100%; width: 100%; font-size: 125%" id="button_toggle_filters">Прикажи филтрирање</a>
        </div>
        <div style="width: 100%; margin: auto; transition: 200ms" id="filters_div" class="invisible-search">
            <div th:replace="fragments/searchBarName"></div><br>
            <div th:replace="fragments/searchBarGenre"></div>
        </div>
    </div>
    <div id="paging-section">
        <div id="inner-paging" class="input-group">
            <!--
            <a class="btn btn-danger" id="button-sub" style="float: left; display: block">Previous</a>
            <a class="btn btn-success" id="button-add" style="float: left; display: block">Next</a>
            -->
            <div class="input-group-prepend">
                <button class="btn btn-danger" id="button-sub" >Претходна</button>
            </div>
            <form method="get" action="" style="float: left; display: block">
                <input type="number" class="form-control" min="1" name="page" th:value="${page}" id="pageInput">
                <button type="submit" id="button-submit-page" class="btn btn-primary">Check page</button>
            </form>

            <div class="input-group-append">
                <button class="btn btn-success" id="button-add" >Следна</button>
            </div>
        </div>
    </div><br>

    <div class="container mb-4">
        <a  sec:authorize="isAuthenticated()" th:href="@{/movies/add}" class="btn btn-secondary">Додади нов филм</a>
    </div>

    <div class="container mb-4">
        <div class="row" th:each="row: ${movie_rows}" >
            <div class="col-md-3 elements" th:each="movie: ${row}" >
                <span th:each="genre: ${movie.getGenres()}"  th:text="${genre?.getGenre()?.getGenreType()}" hidden class="card-genre"></span>
                    <div class="card-body card bg-image" th:style="'background:url(' + ${movie.getImageUrl()} + ') no-repeat center #eee;'">
                        <a class="card-text-center" style="color: white" th:href="@{'/movies/{id}' (id=${movie.getMovieId()})}" >
                        <h3 class="card-title title" th:text="${movie.getTitle()}"></h3>
                            <span th:each="genre: ${movie.getGenres()}"  th:text="${genre?.getGenre()?.getGenreType()}" hidden class="card-genre"></span>
                        </a>
                        <span class="card-text bottom">
                            <h3 th:text="${'Оценет '+movie.getImdbRating() + '/10'}"></h3>
                        </span>
                        <th:block sec:authorize="isAuthenticated()">
                            <button class="bottom-heart btn btn-success button-add-favourite-list" th:movie-id="${movie.getMovieId()}" th:user-id="${user.getUserId()}" th:if="${!likedMovies.contains(movie)}">❤</button>
                            <button class="bottom-heart btn btn-danger button-remove-favourite-list" th:movie-id="${movie.getMovieId()}" th:user-id="${user.getUserId()}" th:if="${likedMovies.contains(movie)}">💔</button>
                        </th:block>
                    </div>
            </div>
        </div>
    </div>
</div>