<link rel="stylesheet" th:href="@{/css/Form-style.css}" >

<main xmlns:th="http://www.thymeleaf.org">

    <div id="add-form-container">
        <form th:action="@{'/discussions/save/{discussionId}' (discussionId = ${discussion?.getDiscussionId()})}" method="POST">
            <div class="row">

                <label for="title">Наслов</label>
                <input type="text"
                       class="form-control input"
                       id="title"
                       name="title"
                       th:value="${discussion?.getTitle()}"
                       required
                       placeholder="Наслов">
            </div>
            <div class="row">
                <label for="text">Опис</label>
                <input type="text"
                       class="form-control input"
                       id="text"
                       name="text"
                       th:value="${discussion?.getText()}"
                       multiple
                       placeholder="Опис">

            </div>
            <div class="row">
                <label for="m">Филм</label>
                <input type="radio"
                       class="form-control discussion-type input"
                       name="type"
                       th:value="M"
                       id="m"
                       th:checked="${discussion} ? ${discussion?.getType() != null && discussion.getType().toString().equals('M')} : true"
                >
            </div>
            <div class="row">
                <label for="p">Личност</label>
                <input type="radio"
                       class="form-control discussion-type input"
                       name="type"
                       id="p"
                       th:value="P"
                       th:checked="${discussion?.getType() != null && discussion.getType().toString().equals('P')}">
            </div>

            <div class="row">
                <label for="idDiscussed">Се дискутира за:</label>
                <select name="idDiscussed" class="selected-discussion input" id="idDiscussed">
                    <option></option>
                    <option class="movies-discussion" th:each="movie:${movies}" th:value="${movie.getMovieId()}"
                            th:text="${movie.getTitle()}"
                            th:selected="${discussion?.getMovie()?.equals(movie)}"></option>

                    <option class="persons-discussion" th:each="person:${persons}" th:value="${person.getPersonId()}"
                            th:text="${person.getName() + ' ' + person.getSurname()}"
                            th:selected="${discussion?.getPerson()?.equals(person)}"></option>

                </select>

            </div>

            <div id="bottom-buttons">
                <div class="button-container">
                    <button id="submit" type="submit" class="btn btn-success btn-lg">Додади</button>
                </div>

                <div class="button-container">
                    <a type="button" class="btn btn-outline-danger btn-lg" href="/discussions">Назад</a>
                </div>
            </div>
        </form>
    </div>
    </div>


</main>